
body {
	margin:0;
	padding:0;
	height:100%;
	background-image:url(../images/ios-linenbg.png);
	background-repeat:repeat-y;
    background-repeat:repeat-x;
}

#container {
	min-height:100%;
	position:relative;
	background-color:ffffff;
    width: 960px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	height: 100px;
	background: #33CC00;
	width: 960px;
	margin: 0px auto;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

.left {
	float: left;
	width: 50%;
}

.right {
	margin-left: 50%;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#33CC00;
}

